<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.certiv.xvisitordt.ui.editor.DocumentSetupParticipant"
         name="XVisitor Document"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.certiv.xvisitordt.ui.editor.DocumentSetupParticipant"
            contentTypeId="net.certiv.xvisitordt.core.contentType"
            extensions="xv">
      </participant>
   </extension>
   <extension
         id="nature"
         name="XVisitor Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.certiv.xvisitordt.core.XVisitorNature">
         </run>
      </runtime>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="net.certiv.dsl.ui.DslElementAdapterFactory"
            adaptableType="net.certiv.dsl.core.model.IDslElement">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter"/>
         <adapter type="org.eclipse.ui.IActionFilter"/>
         <adapter type="org.eclipse.core.resources.IWorkspaceRoot"/>
      </factory>
   </extension>
   
   <extension point="org.eclipse.core.expressions.definitions">
		<definition id="net.certiv.xvisitordt.activeContexts.definition">
			<with variable="activePartId">
				<equals value="net.certiv.xvisitordt.ui.editor.XVisitorEditor "/>
			</with>
		</definition>
	</extension>
	
<!--
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="net.certiv.xvisitordt.ui.search.AntlrSearchPage"
            enabled="true"
            extensions="g:90"
            icon="icons/obj16/search_obj.gif"
            id="net.certiv.xvisitordt.ui.AntlrSearchPage"
            label="AntlrSearchPage"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>
-->

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.certiv.xvisitordt.ui.editor.XVisitorEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="xv"
            icon="icons/obj16/xvisitorFile.png"
            id="net.certiv.xvisitordt.ui.editor.XVisitorEditor"
            name="XVisitor Editor">
         <contentTypeBinding
               contentTypeId="net.certiv.xvisitordt.core.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="net.certiv.xvisitordt.core.problem"
            name="net.certiv.xvisitordt.ui.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="1"
            markerType="net.certiv.xvisitordt.core.problem"
            name="net.certiv.xvisitordt.ui.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerSeverity="0"
            markerType="net.certiv.xvisitordt.core.problem"
            name="net.certiv.xvisitordt.ui.info"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            name="net.certiv.xvisitordt.ui.occurrences">
      </type>
   </extension>
  <extension
        point="org.eclipse.ui.editors.templates">
     <include
           file="src/main/resources/templates/templatesXVisitor.xml"
           translations="src/main/resources/templates/templates.properties">
     </include>
     <contextType
           class="net.certiv.xvisitordt.ui.templates.XVisitorTemplateContextType"
           id="net.certiv.xvisitordt.ui.DefaultContext"
           name="Default">
     </contextType>
      <contextType
            class="net.certiv.xvisitordt.ui.templates.XVisitorTemplateContextType"
            id="xvisitorGrammar"
            name="Grammar">
      </contextType>
      <contextType
            class="net.certiv.xvisitordt.ui.templates.XVisitorTemplateContextType"
            id="antlrOptions"
            name="Options">
      </contextType>
      <contextType
            class="org.eclipse.jdt.internal.corext.template.java.JavaContextType"
            id="java"
            name="Actions">
      </contextType>
      <contextType
            class="org.eclipse.jdt.internal.corext.template.java.JavaDocContextType"
            id="javadoc"
            name="Doc">
      </contextType>
      <resolver
            class="net.certiv.xvisitordt.ui.templates.VocabName"
            contextTypeId="antlrOptions"
            description="Proper name of the Tokens Vocabulary file"
            icon="icons/elcl16/templateprop_co.gif"
            name="Tokens Vocab Name"
            type="vocabName">
      </resolver>
  </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="net.certiv.certivtools.wizards"
            class="net.certiv.xvisitordt.ui.wizards.NewXVisitorWizard"
            icon="icons/obj16/xvisitorFile.png"
            id="net.certiv.xvisitordt.ui.wizards.NewXVisitorWizard"
            name="New XVisitor grammar">
         <description>
            Creates a new XVisitor grammar file.
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="net.certiv.xvisitordt.ui.astview"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.certiv.certivtools.prefs.TopLevelPage"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            name="XVisitor">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageMarkOccurrences"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageMarkOccurrences"
            name="Mark Occurrences">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageEditor"
            id="net.certiv.antlrdt4.preferences.page.PrefPageEditor"
            name="Editor">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageFolding"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageFolding"
            name="Folding">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageSyntaxColoring"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageSyntaxColoring"
            name="Syntax Coloring">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageCodeTemplates"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageCodeTemplates"
            name="Templates">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageFormatter"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageFormatter"
            name="Formatter">
      </page>
      <page
            category="net.certiv.xvisitordt.ui.preferences.page.PrefPageXVisitor"
            class="net.certiv.xvisitordt.ui.preferences.page.PrefPageBuilder"
            id="net.certiv.xvisitordt.ui.preferences.page.PrefPageBuilder"
            name="Builder">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="XVisitorEditor Context"
            id="net.certiv.xvisitordt.ui.xvisitorEditorScope"
            name="XVisitorEditor Content"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="XVisitor Source"
            description="XVisitor Source Actions"
            id="net.certiv.xvisitordt.ui.category.source">
      </category>
      <command
            name="Format"
            description="Format Source"
            categoryId="net.certiv.xvisitordt.ui.category.source"
            id="net.certiv.xvisitordt.ui.edit.text.format">
      </command>
      <command
            name="Comment/Uncomment"
            description="Comment/Uncomment the selected lines"
            categoryId="net.certiv.xvisitordt.ui.category.source"
            id="net.certiv.xvisitordt.ui.edit.text.toggle.comment">
      </command>
      <command
            categoryId="net.certiv.xvisitordt.ui.category.source"
            description="Toggles mark occurrences"
            id="net.certiv.xvisitordt.ui.edit.text.toggleMarkOccurrences"
            name="Mark Occurrences">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="net.certiv.xvisitordt.ui.category.source"
            description="Manual build of XVisitor files in project"
            id="net.certiv.xvisitordt.ui.build"
            name="Manual Build">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%ActionDefinition.openEditor.description"
            id="net.certiv.dsl.ui.edit.text.open.editor"
            name="%ActionDefinition.openEditor.name">
      </command>
   </extension>

<!--
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.ui.category.edit"
           defaultHandler="net.certiv.dsl.internal.ui.text.completion.ContentAssistHandler"
           description="Invokes content assist command"
           id="net.certiv.dsl.ui.content_assist.command"
           name="Content Assist">
        <commandParameter
              id="net.certiv.dsl.ui.content_assist.command.id"
              name="Content Assist Parameter"
              optional="true"
              values="net.certiv.dsl.ui.text.completion.ContentAssistComputerParameter">
        </commandParameter>
     </command>
  </extension>
-->

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certiv.xvisitordt.ui.handlers.XVisitorToggleCommentsHandler"
            commandId="net.certiv.xvisitordt.ui.edit.text.toggle.comment">
			<activeWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</activeWhen>
			<enabledWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</enabledWhen>
      </handler>
      <handler
            class="net.certiv.xvisitordt.ui.actions.XVisitorToggleMarkOccurrencesHandler"
            commandId="net.certiv.xvisitordt.ui.edit.text.toggleMarkOccurrences">
			<activeWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</activeWhen>
			<enabledWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</enabledWhen>
      </handler>
      <handler
            class="net.certiv.dsl.ui.handlers.FormatHandler"
            commandId="net.certiv.xvisitordt.ui.edit.text.format">
			<activeWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</activeWhen>
			<enabledWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</enabledWhen>
      </handler>
      <handler
            class="net.certiv.dsl.ui.handlers.BuildHandler"
            commandId="net.certiv.xvisitordt.ui.build">
			<activeWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</activeWhen>
			<enabledWhen>
				<reference definitionId="net.certiv.xvisitordt.activeContexts.definition" />
			</enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.certiv.xvisitordt.ui.removeNatureCommand"
            class="net.certiv.xvisitordt.ui.handlers.RemoveNatureHandler">
      </handler>
      <handler
            class="net.certiv.xvisitordt.ui.handlers.CleanGrammarHandler"
            commandId="net.certiv.xvisitordt.ui.cleanGrammarCommand">
      </handler>
   </extension>

   <extension point="org.eclipse.ui.bindings">
 
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
   	 <key
            sequence="M1+M2+F"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.certiv.xvisitordt.ui.xvisitorEditorScope"
            commandId="net.certiv.xvisitordt.ui.edit.text.format"/>      
     <key
            sequence="M1+/"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.certiv.xvisitordt.ui.xvisitorEditorScope"
            commandId="net.certiv.xvisitordt.ui.edit.text.toggle.comment"/>
	 <key
	        sequence="M2+M3+O"
	        contextId="net.certiv.xvisitordt.ui.xvisitorEditorScope"
	        commandId="net.certiv.xvisitordt.ui.edit.text.toggleMarkOccurrences"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	 <key
	        platform="carbon"
	        sequence="M2+M3+O"
	        contextId="net.certiv.xvisitordt.ui.xvisitorEditorScope"
	        commandId=""
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	 <key
	        platform="carbon"
	        sequence="M1+M3+O"
	        contextId="net.certiv.xvisitordt.ui.xvisitorEditorScope"
	        commandId="net.certiv.xvisitordt.ui.edit.text.toggleMarkOccurrences"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="net.certiv.xvisitordt.ui.editor.AnnotationImageProvider"
            annotationType="net.certiv.xvisitordt.ui.error">
      </specification>
      <specification
            annotationImageProvider="net.certiv.xvisitordt.ui.editor.AnnotationImageProvider"
            annotationType="net.certiv.xvisitordt.ui.warning">
      </specification>
      <specification
            annotationImageProvider="net.certiv.xvisitordt.ui.editor.AnnotationImageProvider"
            annotationType="net.certiv.xvisitordt.ui.info">
      </specification>
      <specification
            annotationType="net.certiv.xvisitordt.ui.occurrences"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/searchm_obj.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            label="Occurrences"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="occurrenceTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
  <!--
  <extension
        id="defaultProposalCategory"
        name="Dsl Proposals"
        point="net.certiv.dsl.ui.completionProposalComputer">
     <proposalCategory></proposalCategory>
  </extension>
  <extension
        id="templateProposalCategory"
        name="Template Proposals"
        point="net.certiv.dsl.ui.completionProposalComputer">
     <proposalCategory
           icon="icons/elcl16/templateprop_co.gif"></proposalCategory>
  </extension>
  <extension
        id="TemplateCompletionProposalComputer"
        point="net.certiv.dsl.ui.completionProposalComputer">
     <completionProposalComputer
           activate="true"
           categoryId="net.certiv.xvisitordt.ui.templateProposalCategory"
           class="net.certiv.xvisitordt.ui.editor.completion.XVisitorCodeCompletionComputer">
        <partition
              type="__dftl_partition_content_type">
        </partition>
        <partition
              type="__comment_multi_line">
        </partition>
         <partition
               type="__comment_java_doc">
         </partition>
         <partition
               type="__action">
         </partition>
         <partition
               type="__options">
         </partition>
         <partition
               type="__members">
         </partition>
     </completionProposalComputer>
  </extension>
  -->

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.certiv.xvisitordt.ui.toolbars.dslToolbar">
            <command
                  commandId="net.certiv.xvisitordt.ui.edit.text.toggleMarkOccurrences"
                  icon="icons/etool16/mark_occurrences.gif"
                  style="toggle"
                  tooltip="Toggle Mark Occcurrences">
	            <visibleWhen
    	              checkEnabled="false">
        	       <reference
            	         definitionId="net.certiv.xvisitordt.activeContexts.definition">
	               </reference>
    	        </visibleWhen>
            </command>
            <command
                  commandId="net.certiv.xvisitordt.ui.build"
                  icon="icons/etool16/build_exec.gif"
                  style="push"
                  tooltip="Build XVisitor grammars">
	            <visibleWhen
    	              checkEnabled="false">
        	       <reference
            	         definitionId="net.certiv.xvisitordt.activeContexts.definition">
	               </reference>
    	        </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
<!--
  <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%OpenActionSet.label"
            description="%OpenActionSet.description"
            visible="false"
            id="net.certiv.dsl.ui.A_OpenActionSet">
         <action
               definitionId="net.certiv.dsl.ui.edit.text.open.call.hierarchy"
               label="%OpenCallHierarchyAction.label"
               retarget="true"
               menubarPath="navigate/open.ext"
               id="net.certiv.dsl.ui.actions.OpenCallHierarchy">
         </action>
         <action
               definitionId="net.certiv.dsl.ui.edit.text.open.type.hierarchy"
               label="%OpenTypeHierarchyAction.label"
               retarget="true"
               menubarPath="navigate/open.ext"
               id="net.certiv.dsl.ui.actions.OpenTypeHierarchy">
         </action> 
         <action
               definitionId="net.certiv.dsl.ui.edit.text.open.editor"
               label="%OpenAction.label"
               tooltip="%OpenAction.tooltip"
               retarget="true"
               menubarPath="navigate/open.ext"
               allowLabelUpdate="true"
               id="net.certiv.dsl.ui.actions.Open">
         </action>
      </actionSet>
   </extension>
-->
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="XVisitor Category"
            id="net.certiv.xvisitordt.ui.commands.category">
      </category>
      <command
            categoryId="net.certiv.xvisitordt.ui.commands.category"
            id="net.certiv.xvisitordt.ui.removeNatureCommand"
            name="Remove XVisitor Nature">
      </command>
      <command
            categoryId="net.certiv.xvisitordt.ui.commands.category"
            id="net.certiv.xvisitordt.ui.cleanGrammarCommand"
            name="Clean Grammar Problems">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
      	    locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="net.certiv.xvisitordt.ui.popups.menu"
               label="XVisitor">
            <command
                  commandId="net.certiv.xvisitordt.ui.cleanGrammarCommand"
                  id="net.certiv.xvisitordt.ui.popups.cleanGrammarCommand">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.xv">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <!--
            <command
                  commandId="net.certiv.xvisitordt.ui.removeNatureCommand"
                  id="net.certiv.xvisitordt.ui.popups.removeNatureCommand">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="net.certiv.xvisitordt.core.nature">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
             -->
         </menu>
         
         <menu
              id="org.eclipse.ui.projectConfigure"
              label="Configure">
            <command
                  commandId="net.certiv.xvisitordt.ui.removeNatureCommand"
                  id="net.certiv.xvisitordt.ui.popups.removeNatureCommand">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="net.certiv.xvisitordt.core.nature">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
    </extension>
    
</plugin>
